<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 13.07.2025, 2:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Maratha Military Landscapes of India inscribed in UNESCO’s World Heritage list.</p>
        </article>

        <article>
            <time>published: 14.07.2025, 00:00</time>
            <h2><a href="">My second post</a></h2>
            <p>New discovery reveals Mars once had a river system mightier than the Ganga.</p>
        </article>
    </body>
</html>